@import "navbar.css";

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    max-width: 90%;
    text-align: center;
    transition-duration: var(--curve-timing);
}
section#title{
    max-width: 80%;
    height: 75dvh;
    padding: 8rem 0 3rem;
}

h1{
    font-size: var(--h1-size);
    color: var(--color-title);
    text-align: center;
    line-height: 100%;
    letter-spacing: -2px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-title);
    font-weight: 720;
}

p{
    font-family: var(--font-text);
    font-size: var(--font-body);
    color: var(--color-text-secondary);
}

span.title-container{
    display: flex;
    flex-direction: column;
}

span.title {
    position: relative;
    z-index: 10;
}

#colorCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70dvh;
    z-index: -1;
}


.project-card {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s var(--transition-bounce);
}
.project-card:nth-child(1) {
    background-color: var(--color-light-blue);
}
.project-card:nth-child(2) {
    background-color: var(--color-light-green);
}
.project-card:nth-child(3) {
    background-color: var(--color-light-orange);
}
.project-card:nth-child(4) {
    background-color: var(--color-pink);
}
.project-card:nth-child(5) {
    background-color: var(--color-light-green);
}
.project-card:nth-child(6) {
    background-color: var(--color-light-blue);
}
.project-card:nth-child(7) {
    background-color: var(--color-dark-grey);

    div.project-header, div.project-header p {
        color: var(--color-title);
        font-weight: 400;
    }
}

.project-card:hover .project-illustration {
    transform: translateX(5%) translateY(5%);
}

.project-header {
    display: flex;
    flex-direction: row;
    padding: var(--10px);

    font-size: 1.4em;

    margin: var(--20px) var(--20px) 0 var(--20px);

    color: var(--color-text);
    font-weight: bold;
    justify-content: space-between;
    text-align: end;

    line-height: 1;

    h3 {
        font-family: var(--font-subtitle);
        line-height: 1;
        font-size: 1em;
    }
    p.card-status{
         font-weight: 300;
         color: var(--color-text);
         font-style: italic;
         text-align: start;
    }
}

.project-illustration {
    position: relative;
    width: 100%;

    display: flex;

    overflow: hidden;

    transition: transform 0.3s ease-in-out;

    margin-left: calc(var(--20px));

    box-shadow: var(--shadow-lg);
}

.project-illustration img {
    align-self: flex-start;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-size: var(--font-link);
    font-weight: 600;
    margin-top: var(--42px);
    justify-content: space-around;
    box-shadow: #3d3d3d 0 0 10px;

}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div div {
    margin: var(--10px);

    a{
        margin: 5px;
    }
}