/*Grid project*/
#grid {
    display: grid;
    gap: 20px; /* Espacement entre les projets */
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}

.large {
    grid-column: span 2;
}

/* Hardware */

div.computer{
    display: grid;

    grid-template-columns: 50% 50%;
    width: 100%;
}