#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

div.computer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

@media (min-width: 650px) {
    .large {
        grid-column: span 2;
    }
}

@media (max-width: 649px) {
    .large {
        grid-column: auto;
    }
}